<p style="text-align:right"> 30/05/2023 </p>
<img src="OldCar.gif">
<h1 style="color:#0e535b; text-align: center">Universidad Castro Carazo</h1>
<h4 style="color:#112c2f; text-align: center">Curso: Análisis de Datos</h4>


<p style="text-align:justify"> El presente proyecto pretende constituirse en una guía para el desarrollo de actividades de análisis de datos con grandes volúmenes de data de manera que se permitan conocer y aplicar los siguientes elementos:</p>

<ol>
    <li>Importación de librerías</li>
    <li>Carga de Set de Datos</li>
    <li>Integrar Sets de Datos</li>
    <li>Trabajo con Valores Faltantes</li>
    <li>Normalización de los datos</li>
    <li>Estandarización de los datos</li>
    <li>Agrupación de los datos</li>
    <li>Gráfico de los datos</li>
</ol>

<h3 style="color:#5b5990">1. Importación de Librerías</h3>
<p style="text-align:right"> 30/05/2023 </p>

In [1]:
import pandas as pd  #Para el manejo de los dataframes
import numpy as np   #Para el manejo de colecciones de datos Listas, Tuplas, Diccionarios...
import matplotlib.pyplot as plt #Para generar las gráficas

<h3 style="color:#5b5990">2. Carga de Datos</h3>

In [2]:
cols = ["symboling", "normalized", "make", "fuel", "aspiration", "doors", 
       "style", "wheels", "engine", "base", "length", "width", "heingt",
       "curb", "engineType", "Cylinders", "engine-size", "system", "bore", "stroke",
       "compression", "horsepower", "peak", "City", "Higway", "price"]

#df = DataFrame
df_1er_autos = pd.read_csv("autos.csv", names=cols)
df_2do_autos = pd.read_csv("Autos1.csv", names=cols)

In [3]:
df_1er_autos.shape #¿Cuántas observaciones y cuántas variables hay en df_1er_autos?

(197, 26)

In [4]:
df_2do_autos.shape #¿Cuántas observaciones y cuántas variables hay en df_2do_autos?

(29, 26)

In [5]:
df_1er_autos.tail(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985

In [6]:
df_2do_autos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engine-size,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9639
1,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9989
2,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,11199
3,2,134,toyota,gas,std,two,hatchback,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,11549
4,2,134,toyota,gas,std,two,convertible,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,17669

In [7]:
df_1er_autos.describe()

,symboling,base,length,width,heingt,curb,engine-size,compression,City,Higway
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,0.913706,98.409645,173.450254,65.812690,53.628934,2534.796954,126.263959,10.128020,25.416244,30.984772
std,1.202746,5.866965,12.213912,2.128306,2.438891,520.401159,42.282594,3.934467,6.566717,6.908644
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.000000,52.000000,2140.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,96.500000,172.600000,65.400000,53.900000,2405.000000,110.000000,9.000000,25.000000,30.000000
75%,2.000000,100.400000,178.500000,66.500000,55.500000,2844.000000,141.000000,9.400000,30.000000,36.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [8]:
df_1er_autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    197 non-null    int64
 1   normalized   197 non-null    object
 2   make         197 non-null    object
 3   fuel         197 non-null    object
 4   aspiration   197 non-null    object
 5   doors        197 non-null    object
 6   style        197 non-null    object
 7   wheels       197 non-null    object
 8   engine       197 non-null    object
 9   base         197 non-null    float64
 10  length       197 non-null    float64
 11  width        197 non-null    float64
 12  heingt       197 non-null    float64
 13  curb         197 non-null    int64
 14  engineType   197 non-null    object
 15  Cylinders    197 non-null    object
 16  engine-size  197 non-null    int64
 17  system       197 non-null    object
 18  bore         197 non-null    object
 19  stroke       197 non-null    object
 20  compression  197 non-null    float64
 21  horsepower   197 non-null    object
 22  peak         197 non-null    object
 23  City         197 non-null    int64
 24  Higway       197 non-null    int64
 25  price        197 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 40.1+ KB

<h5 style="color:#5b5990">2.1 Revisión de encabezados del DataFrame</h5>

<p>Lo que se busca es estandarizar el nombre de cada columna de los set de datos que se carguen a los proyectos de Python</p>

<ol>
    <li>Los nombres de las columnas no deben contener espacios en blanco</li>
    <li>Los nombres de las columnas no deben comenzar con números</li>
    <li>Si el nombre tiene dos palabras, la letra inicial de cada la segunda palabra debe ir en mayúscula</li>
    <li>No deben existir nombres repetidos</li>

In [9]:
df_1er_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engine-size', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [10]:
df_1er_autos.rename({"engine-size":"engineSize"}, axis=1, inplace=True)
df_2do_autos.rename({"engine-size":"engineSize"}, axis=1, inplace=True)
df_2do_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'Cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

In [11]:
df_1er_autos.rename({"Cylinders":"cylinders"}, axis=1, inplace=True)
df_2do_autos.rename({"Cylinders":"cylinders"}, axis=1, inplace=True)
df_1er_autos.columns

Index(['symboling', 'normalized', 'make', 'fuel', 'aspiration', 'doors',
       'style', 'wheels', 'engine', 'base', 'length', 'width', 'heingt',
       'curb', 'engineType', 'cylinders', 'engineSize', 'system', 'bore',
       'stroke', 'compression', 'horsepower', 'peak', 'City', 'Higway',
       'price'],
      dtype='object')

<h3 style="color:#5b5990">3. Integrar sets de datos</h3>

In [12]:
tplArchivos = [df_1er_autos, df_2do_autos]
dfAutos = pd.concat(tplArchivos)
dfAutos.shape

(226, 26)

In [ ]:
dfAutos.head(5)

<p style="text-align:right"> 20/06/2023 </p>

<h3 style="color:#5b5990">4. Manejo de valores faltantes</h3>
<p>¿Qué se hace para el manejo de los valores faltantes? </p>
<ol>
    <li>Identificar cómo se muestran los valores faltantes</li>
    <li>Contar la cantidad de valores faltantes en el set de datos</li>
    <li>Imputación de valores numéricos</li>
    <li>Imputación de valores categóricos</li>
    <li>Eliminar filas</li>
</ol>

<h5 style="color:#5b5990">4.1 Identificar los valores faltantes</h5>

In [13]:
dfAutos.replace("?", np.nan, inplace = True)
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h5 style="color:#5b5990">4.2 Contar la cantidad de valores faltantes</h5>

In [15]:
dfTemp = dfAutos.isnull()
dfTemp.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
for column in dfTemp.columns.values.tolist():
    print(column)
    print(dfTemp[column].value_counts())
    print("")

symboling
False    226
Name: symboling, dtype: int64

normalized
False    180
True      46
Name: normalized, dtype: int64

make
False    226
Name: make, dtype: int64

fuel
False    226
Name: fuel, dtype: int64

aspiration
False    226
Name: aspiration, dtype: int64

doors
False    224
True       2
Name: doors, dtype: int64

style
False    226
Name: style, dtype: int64

wheels
False    226
Name: wheels, dtype: int64

engine
False    226
Name: engine, dtype: int64

base
False    226
Name: base, dtype: int64

length
False    226
Name: length, dtype: int64

width
False    226
Name: width, dtype: int64

heingt
False    226
Name: heingt, dtype: int64

curb
False    226
Name: curb, dtype: int64

engineType
False    226
Name: engineType, dtype: int64

cylinders
False    226
Name: cylinders, dtype: int64

engineSize
False    226
Name: engineSize, dtype: int64

system
False    226
Name: system, dtype: int64

bore
False    222
True       4
Name: bore, dtype: int64

stroke
False    222
True       4
Name: stroke, dtype: int64

compression
False    226
Name: compression, dtype: int64

horsepower
False    224
True       2
Name: horsepower, dtype: int64

peak
False    224
True       2
Name: peak, dtype: int64

City
False    226
Name: City, dtype: int64

Higway
False    226
Name: Higway, dtype: int64

price
False    222
True       4
Name: price, dtype: int64

<h5 style="color:#5b5990">4.3 Imputación de valores numéricos</h5>

In [17]:
av_normalized = dfAutos["normalized"].astype("float").mean(axis=0)
print("La media normalized es : ", av_normalized)
av_bore = dfAutos["bore"].astype("float").mean(axis=0)
print("La media bore es: ", av_bore)
av_stroke = dfAutos["stroke"].astype("float").mean(axis=0)
print("La media stroke es: ", av_stroke)
av_horsepower = dfAutos["horsepower"].astype("float").mean(axis=0)
print("La media horsepower es: ", av_horsepower)
av_peak = dfAutos["peak"].astype("float").mean(axis=0)
print("La media peak es: ", av_peak)

La media normalized es :  122.28333333333333
La media bore es:  3.3194594594594586
La media stroke es:  3.2785135135135133
La media horsepower es:  102.98214285714286
La media peak es:  5100.892857142857

In [18]:
dfAutos["normalized"].replace(np.nan, av_normalized, inplace = True)
dfAutos["bore"].replace(np.nan, av_bore, inplace = True)
dfAutos["stroke"].replace(np.nan, av_stroke, inplace = True)
dfAutos["horsepower"].replace(np.nan, av_horsepower, inplace = True)
dfAutos["peak"].replace(np.nan, av_peak, inplace = True)
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,122.283333,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.283333,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.283333,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h5 style="color:#5b5990">4.3 Imputación de valores categóricos</h5>

In [19]:
dfAutos["doors"].value_counts().idxmax()

'four'

In [20]:
dfAutos["doors"].replace(np.nan, "four", inplace = True)
dfAutos.head(5)

,symboling,normalized,make,fuel,aspiration,doors,style,wheels,engine,base,...,engineSize,system,bore,stroke,compression,horsepower,peak,City,Higway,price
0,3,122.283333,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.283333,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.283333,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

<h5 style="color:#5b5990">4.5 Eliminar filas con valores faltantes</h5>

In [21]:
dfAutos.dropna(subset = ["price"], axis=0, inplace=True)
dfAutos.reset_index(drop=True, inplace=True)

In [22]:
dfTemp = dfAutos.isnull()
for column in dfTemp.columns.values.tolist():
    print(column)
    print(dfTemp[column].value_counts())
    print("")

symboling
False    222
Name: symboling, dtype: int64

normalized
False    222
Name: normalized, dtype: int64

make
False    222
Name: make, dtype: int64

fuel
False    222
Name: fuel, dtype: int64

aspiration
False    222
Name: aspiration, dtype: int64

doors
False    222
Name: doors, dtype: int64

style
False    222
Name: style, dtype: int64

wheels
False    222
Name: wheels, dtype: int64

engine
False    222
Name: engine, dtype: int64

base
False    222
Name: base, dtype: int64

length
False    222
Name: length, dtype: int64

width
False    222
Name: width, dtype: int64

heingt
False    222
Name: heingt, dtype: int64

curb
False    222
Name: curb, dtype: int64

engineType
False    222
Name: engineType, dtype: int64

cylinders
False    222
Name: cylinders, dtype: int64

engineSize
False    222
Name: engineSize, dtype: int64

system
False    222
Name: system, dtype: int64

bore
False    222
Name: bore, dtype: int64

stroke
False    222
Name: stroke, dtype: int64

compression
False    222
Name: compression, dtype: int64

horsepower
False    222
Name: horsepower, dtype: int64

peak
False    222
Name: peak, dtype: int64

City
False    222
Name: City, dtype: int64

Higway
False    222
Name: Higway, dtype: int64

price
False    222
Name: price, dtype: int64